<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Mad Gem</title>
    <link rel="stylesheet" type="text/css" href="theme.css">
  </head>
  <body>
    <textarea id="source">
layout: true
name: inverse
class: center, middle, inverse
---
layout: true
name: code
class: middle
---
layout: true
name: fullscreen
background-position: center
background-repeat: no-repeat
background-size: contain 
---
layout: true
name: normal
class: center, middle
---
template: inverse
# Retour sur un processus de
# dé-gem-ification sur une appli Rails
.footnote[Apéro Ruby Lille - Avril 2017]
---
## [@bobmaerten](https://twitter.com/bobmaerten)
.footnote[https://bobmaerten.eu]
---
template: fullscreen
background-image: url(img/levups.png)
.footnote[https://levups.com/fr/blog]
---
# Été 2016
## Sortie de Rails 5.0
---
template: fullscreen
background-image: url(img/rails_welcome.png)
---
# "Petit" projet
![rails5](img/first_rails5_migration.png)
---
# Un bien plus gros projet
![rails5-2](img/other_rails5_migration.png)
---
## Uninitialized constant ActionController::TestRequest
---
## ActionView::Template::Error: undefined method
---
# Le fautif
---
template: fullscreen
background-image: url(img/draper.jpg)
---
template: fullscreen
background-image: url(img/rails5_draper.png)
---
template: fullscreen
background-image: url(img/hgani.png)
---
## Bah, ça va être mis à jour…
---
template: fullscreen
background-image: url(img/rubygems.png)
---
template: fullscreen
background-image: url(img/almost_6_months.png)
---
![rage](img/rage.png)
---
template: fullscreen
background-image: url(img/abadoned.png)
---
template: fullscreen
background-image: url(img/release_3_0.png)
---
template: fullscreen
background-image: url(img/jump.jpg)
---
template: fullscreen
background-image: url(img/fall.jpg)
---
template: fullscreen
background-image: url(img/mad-gem-wallpaper.jpg)
---
## Et si on se passait de Draper ?
.footnote[Et puis c'est gentil tes images mais on veut voir du code !]
---
template: code
## Draper gem
```ruby
# model
class Article < ApplicationRecord
end

# decorator
class ArticleDecorator < Draper::Decorator
  delegate_all

  def published_date
    object.published_at.strftime("%A, %B %e")
  end
end

# controller
@article = Article.find(params[:id]).decorate

# view
= @article.published_date
```
---
template: code
## Ruby : SimpleDelegator
```ruby
# model
class Person
  attr_reader :first_name, :last_name

  def initialize(first_name, last_name)
    @first_name, @last_name = first_name, last_name
  end
end

# decorator
class PersonDecorator < SimpleDelegator
  def full_name
    "#{first_name} #{last_name}"
  end
end

# code
person = Person.new('Gérard', 'Menvussa')
person.first_name #=> 'Gérard'
person.last_name  #=> 'Menvussa'

decorated_person = PersonDecorator.new(person)
decorated_person.full_name #=> 'Gérard Menvussa'
```
---
template: code
## Notre solution : ApplicationDecorator
```ruby
# app/decorators/application_decorator.rb

class ApplicationDecorator < SimpleDelegator
  attr_reader  :view_context
  alias_method :h, :view_context

  DEFAULT_VIEW_CONTEXT = ApplicationController.new.view_context

  def self.each(collection, &block)
    collection.each { |e| block.call new(e) }
  end

  def self.wrap(collection)
    collection.map { |e| new(e) }
  end

  def initialize(model, view_context = nil)
    super(model)
    @view_context = view_context || DEFAULT_VIEW_CONTEXT
  end
end
```
---
template: code
# View context ?
```ruby
attr_reader :view_context
```
* view_context est un objet ActionController / ActionMailer
* contient les informations de la requête (host, controller, action, etc.)
* permet d'accéder aux _helpers_ (rails helpers, routes helpers, custom helpers, etc.)

```ruby
alias_method :h, :view_context
```
* alias pour réduire la largueur du code source
* La plupart des implémentations de _decorators_ utilisent `h` en raccourci
---
template: code
## Helper methods
```ruby
def self.each(collection, &block)
  collection.each { |e| block.call new(e) }
end

def self.wrap(collection)
  collection.map { |e| new(e) }
end
```

```erb
<!-- view -->
<ul>
<% PersonDecorator.each(Person.registered) do |decorated_person| %>
  <li><%= decorated_person.full_name %></li>
<% end %>
</ul>
```
```ruby
# controller
@decorated_people = PersonDecorator.wrap(Person.registered)

# view
<%= safe_join @decorated_people.map(&:full_name), tag(:br) %>
```
---
template: code
## Classes héritées avec appels de helpers Rails
```ruby
class PersonDecorator < ApplicationDecorator
  def register_link
    h.content_tag(:p) do
      h.link_to h.register_person_path(person_id: id) do
        h.fa_icon('chevron-down', text: 'Enregistrer cette personne')
      end
    end
  end
end
```
---
template: code
## Et les tests ?
```ruby
require "test_helper"

class PersonDecoratorTest < ActionView::TestCase
  setup do
    view.extend FontAwesome::Rails::IconHelper
    @person = people(:person_1)
    @decorated_person = PersonDecorator.new(@decorated_person, view)
  end

  test "register_link" do
    assert_includes @decorated_person.register_link, @person.id
    assert_includes @decorated_person.register_link, 'Enregister'
  end
end
```
---
template: code
## Spécifier le contexte si nécessaire
```ruby
  DEFAULT_VIEW_CONTEXT = ApplicationController.new.view_context

  def initialize(model, view_context = nil)
    super(model)
    @view_context = view_context || DEFAULT_VIEW_CONTEXT
  end
```
* _Fallback_ sur un _view_context_ par défaut pour accéder à nos helpers
* _view_context_ n'était pas défini sur certains tests mailers/controllers

```ruby
class UserDecoratorTest < ActionView::TestCase
  setup do
    @person = Person.new('Gérard', 'Menvussa')
    @decorated_person = PersonDecorator.new @person, view
  end
  
  test "fullname" do
    assert_includes @decorated_person.fullname, @person.first_name
    assert_includes @decorated_person.fullname, @person.last_name
  end
end
```
---
# Conclusion
---
# L'opensource, c'est facile pour personne !
### Faire vivre un projet / s'attacher à une dépendance logicielle
---
# Bien choisir ses dépendances en toute connaissance de cause
---
# Identifier celles pour lesquelles une "sortie" est possible
---
# Évaluer le "poids" de se passer d'un(e) gem au profit d'un code maison
---
# Merci !
---
template: code
## _Google-est-mon-ami-graphie_
* https://bibwild.wordpress.com/2012/12/19/the-simplest-rails-decorator-implementation-that-just-might-work
* https://hashrocket.com/blog/posts/using-simpledelegator-for-your-decorators
* https://robots.thoughtbot.com/decorating-activerecord
---
template: code
## Images
* Générique de la série MadMen (AMC)
* MemeSuper.com
* GitHub.com
---
## One more thing
### Si vous voulez absolument un(e) gem de décorateur
---
template: fullscreen
background-image: url(img/active_decorator.png)
.footnote[https://github.com/amatsuda/active_decorator]
</textarea>
    <script src="remark.min.js">
    </script>
    <script>
      var slideshow = remark.create({
        highlightStyle: 'railscasts'
      });
    </script>
  </body>
</html>
